<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />

        <!-- jQuery file -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" 
        th:src="@{/static/jquery.min.js}"></script>

        <!-- Bootstrap (js-file) -->
        <script src="/js/bootstrap.min.js" 
        th:src="@{/static/js/bootstrap.min.js}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

        <title>Pääkaupunkiseudun partiolaiset</title>

    </head>

    <!-- centered, topspace, is in layout.css -->
    <body>
        <div id="background">

            <div th:include ="fragments/navbar_template :: navbar">navbar</div>

            <div class="centered">

                <h1>Pääkaupungin partiolaisten julkaisut sisältöalueittain</h1>

                <div th:include="fragments/messages_template :: messages"></div>

                <div th:each="area : ${areas}">
                    <div class="toHide">
                    <h3 class="topspace">
                        <a th:name="${area.name}" th:href="@{/area/{id}(id=${area.id})}" th:text="${area.name}"></a></h3>
                    <p>Näkyvyys: <span style="font-style: italic" th:text="${area.visibilityText}"></span></p>

                    <h4 class="topspace">Sisällöt:</h4>
                    </div>
                    <div  class="toSearch" th:each="content : ${area.elements}">
                        <label>
                            <h4><a th:href="@{/content/{id}(id=${content.id})}" th:text="${content.name}"></a></h4>
                            <p th:utext="${content.textArea}"></p>
                        </label>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>
