<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    
    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />
        
        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8"/>  

        <title>Pääkaupunkiseudun partiolaiset</title>

    </head>
    <body>
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>

        <!-- centered is in layout.css -->
        <div class="centered">
            <h1>Partio</h1>
            
            <div th:include="fragments/messages_template :: messages"></div>
            
            <!-- Here will be message if needed (like new content has created) -->
            
            <p>Partiolaiset hei!!</p>


            <!-- Form lists all areas -->
            <!-- topspace is in layout.css -->
            <h3>Sisältöalueet</h3>
            <div th:each="area : ${areas}">
                <table class="topspace">
                    <tr><th>Nimi: </th><th><a th:name="${area.name}" th:href="@{/area/{id}(id=${area.id})}" th:text="${area.name}"></a></th></tr>
                    <tr><th>Näkyvyys: </th> <td th:text="${area.visibilityText}"></td></tr>

                    <!-- List all contents related to area -->
                    <tr><th>Sisällöt</th></tr>

                    <tr th:each="content : ${area.contents}">
                    <tr><th><a th:href="@{/content/{id}(id=${content.id})}" th:text="${content.name}"></a></th></tr>
                    <tr><td th:text="${content.textArea}"></td></tr>
                    <tr></tr>
                    </tr>
                </table>
            </div>

        </div> 
    </body>
</html>
