<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link href="/css/layout-center.css" rel="stylesheet" type="text/css" th:href="@{static/css/layout-center.css}" />
        <title>Tietokantatesti</title>    
    </head>

    <body>
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>
        <div class="centered">
            <h1>Henkilön tietokantatesti</h1>

            <form action="/persons" method="POST">
                <p>Nimi:</p>
                <input type="text" name="name"/>
                <input type="submit" value="Lisää"/>
            </form>
        
            <tr th:each="person : ${persons}">
                <li th:text="${person.name}"></li>
            </tr>
        </div>
    </body>

</html>