<!DOCTYPE html>
<!-- View for viewing current user's profile -->
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">

    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />  

        <title>Profiili</title>

    </head>
    <body>
        <!-- Navigation-bar -->
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>

        <!-- centered is in layout.css -->
        <div class="centered">

            <h1>Profiili</h1>
            
            <div th:include="fragments/messages_template :: messages"></div>
            
            <div class="topspace">
                <img src="${person.urlToPhoto}"
                     th:src="@{${person.urlToPhoto}}"
                     alt="Profile picture" 
                     style="width:128px;height:128px;"/>


                <table class="table table-striped col-sm-12" >
                    <tr>
                        <td class="bold">Minä olen: </td>
                        <td th:text="${person.description}"></td>
                    </tr>
                    <tr>
                        <!-- bold is in layout.css -->
                        <td class="bold">Nimi: </td>
                        <td th:text="${person.name}"></td>
                    </tr>
                    <tr>
                        <!-- bold is in layout.css -->
                        <td class="bold">Käyttäjätunnus: </td>
                        <td th:text="${person.username}"></td>
                    </tr>
                </table>


            </div>

            <h2>Omat sisällöt</h2>
            <table class="table table-striped col-sm-12">
                <div th:unless="${#lists.isEmpty(contents)}">
                    <tr th:each="content : ${contents}">
                    <tr><th><a th:href="@{/content/{id}(id=${content.id})}" th:text="${content.name}"></a></th></tr>
                    <tr></tr>
                    </tr>    
                </div>
            </table>
            <div th:if="${#lists.isEmpty(contents)}">
                <p>Et ole luonu sisältöä!</p>
            </div>
            <form method="get" th:action="@{/persons/profile/edit/{id}(id=${person.id})}">
                <!-- topspace is in layout.css -->
                <div  class="topspace">
                    <button type="submit" id="submit" class="btn btn-default">Muokkaa</button>                          
                </div>
            </form>
        </div>

    </body>
</html>
