<!DOCTYPE html>
<!-- View for viewing current user's profile -->
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">

    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />  

        <title>Profiili</title>

    </head>
    <body>
        <!-- Navigation-bar -->
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>

        <div class="centered">
            
            <!-- Page title, centered is in layout.css -->
            <header>
                <h1>Profiili</h1>
            </header>

            <!-- centered is in layout.css -->
            <table class="table table-striped col-sm-12" >
                <tr>
                    <td><b>Nimi: </b></td>
                    <td th:text="${person.name}"></td>
                </tr>
                <tr>
                    <td><b>Käyttäjätunnus: </b></td>
                    <td th:text="${person.username}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
