/* Menu */

/* .navbarmenu makes menu to be center of the page */
.navbarmenu {
    position: absolute;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 600px;
    margin-left: 5%;
    margin-right: -5%;
    background-color: transparent;
    border-radius:0;
}

/* invisible buttons*/
.nav-btn {
    border: none; 
    background: lavender;
}

/* Others */
.topspace {
    margin-top: 15px;
}

.aroundspace {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Bold makes text bold, obviously */
.bold {
    font-style: oblique;
}

h1 {
    padding-left: 0px;
    text-align: center;
}

.bookmark {
    float: right;
    top: -25px
}

/* @media is for browser */
@media only screen and (min-device-width: 1024px){
    /* center and color layout*/
    #background {
        position: absolute;
        margin-left: 25%;
        margin-right: -25%;
        min-width: 700px;
        min-height: 100%;
        background-color: lavender;
    }

    /* content of pages */
    .centered {
        position: absolute;
        margin-top: 80px;
        min-width: 660px;
        margin-left: 3%;
        margin-right: -3%;
        background-color: transparent;
    }

    /* for text editors */
    .centered-inner{
        max-width: 660px;
    }

    .mobileform{
        display: none;
    }   
}

/* @media is for mobile */
@media only screen and (max-device-width: 1024px){
    body {
        background-color: #c2c2c0;
    }
    .centered {
        margin: 0%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbarmenu {
        display: none;
    }

    .browserform{
        display: none;
    }
}

