<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">

    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

        <!-- layout-center.css is Runkos css -->
        <link href="/css/layout-center.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout-center.css}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>            
        <!-- Bootstrap (js-tiedosto) -->
        <script src="js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />  

        <title>Pääkaupunkiseudun partiolaiset</title>
    </head>

    <body>
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>

        <!-- centered is in layout-center.css -->
        <div class="centered">
            <h2>Luo uusi sisältöalue</h2>
            <form method="post" action="/area/areaform" id="contentform">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Alueen nimi *</label>
                        <br />
                        <input type="text" name="name" class="form-control" />
                        <div class="topspace"> 
                            <label>Julkisuusaste *</label>
                            <br />
                            <input type="radio" name="visibility" checked="checked" data-bind="checked:IsChecked, checkedValue: true"/> Sisäänkirjautuneille
                            <br />
                            <input type="radio" name="visibility" data-bind="checked:IsChecked, checkedValue: false"/> Julkinen
                        </div>
                        <div class="topspace">
                            <button type="submit" class="btn btn-primary">Tallenna</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
