<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">

    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />

        <!-- jQuery file -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" 
        th:src="@{/static/jquery.min.js}"></script>

        <!-- Bootstrap (js-file) -->
        <script src="/js/bootstrap.min.js" 
        th:src="@{/static/js/bootstrap.min.js}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

        <title>Pääkaupunkiseudun partiolaiset</title>
    </head>

    <!-- centered, background, bold are in layout.css -->
    <body>
        <div id="background">

            <div th:include ="fragments/navbar_template :: navbar">navbar</div>

            <div class="centered">

                <div th:include="fragments/messages_template :: messages"></div>

                <!-- This makes areas name to heading  -->
                <h1 th:text="${area.name}"></h1>

                <form th:method="post" th:action="@{/area/{id}(id=${area.id})}" id="areaform">

                    <div th:if="${subs} == false">
                        <button name="subscribe" type="submit" class="btn btn-primary btn-sm" value="Order">Tilaa</button>
                    </div>
                    <div th:if="${subs}  == true">
                        <button name="unsubscribe" type="submit" class="btn btn-primary btn-sm" value="StopOrder">Lopeta tilaus</button>
                    </div>
                </form>

                <p class="topspace">Omistaja: <span th:text="${area.owner.name}"></span></p>

                <!-- This lists contents, which include to area -->
                <h4>Sisällöt:</h4>
                <div th:each="content : ${area.elements}">
                    <div class="centered-inner">
                        <label>
                            <h3><a th:href="@{/content/{id}(id=${content.id})}" th:text="${content.name}"></a></h3>
                            <div id="innerbox-300">
                                <p th:utext="${content.textArea}"></p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
