<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    
    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />
        
        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <!-- Bootstrap (js-tiedosto) -->
        <script src="js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />  

        <title>Pääkaupunkiseudun partiolaiset</title>
    </head>
    
    <body>
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>
        
        <!-- centered is in layout.css -->
        <div class="centered" >
            <h2>Muokkaa sisältöä</h2>
            
            <!-- Form makes new content -->
            <form method="post" th:action="@{/content/edit/{id}(id=${content.id})}" id="contentform">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Sisällön nimi *</label>
                        <br />
                        <input type="text" name="name" class="form-control" th:value="${content.name}" />
                        
                        <!-- topspace is in layout.css -->
                        <div class="topspace">
                            <label>Sisältö</label>
                            <br />
                            <textarea rows="7" name="textArea" type="text" form="contentform" class="form-control" th:text="${content.textArea}" placeholder="lisää sisältöä"></textarea>
                        </div>
                        
                        <!-- This lists all areas on which user can choose right area or areas -->
                        <!-- topspace is in layout.css -->
                        <div class="topspace">
                            <select name="areaIds" size="3" class="form-control" style="min-width: 30%" multiple="multiple">
                                <span th:each="area : ${area}">
                                    <option th:text="${area.name}" th:value="${area.id}"></option>
                                </span>
                            </select>                          
                        </div>
                        
                        <!-- topspace is in layout.css -->
                        <div  class="topspace">
                          
                                <button type="submit" class="btn btn-danger">Tallenna</button>                          
                           
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </body>
</html>
