<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    
    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />
        
        <!-- layout-center.css is Runkos css -->
        <link href="/css/layout-center.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout-center.css}" />
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <script>
            $(document).ready(function(){
                $("option").click(function(){
                    $("li").text(function(origText){
                        return $("option"); 
                    });
                });
            });
        </script>
        
        <!-- Bootstrap (js-tiedosto) -->
        <script src="js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />  

        <title>Pääkaupunkiseudun partiolaiset</title>
    </head>
    
    <body>
        <div th:include ="fragments/navbar_template :: navbar">navbar</div>
        
        <!-- centered is in layout-center.css -->
        <div class="centered">
            <h2>Luo sisältö</h2>
            <form method="post" action="/content/simpleform" id="contentform">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Sisällön nimi *</label>
                        <br />
                        <input type="text" name="name" class="form-control" />
                        
                        <div class="topspace">
                            <label>Sisältö</label>
                            <br />
                            <textarea rows="7" name="textArea" type="text" form="contentform" class="form-control" placeholder="lisää sisältöä"></textarea>
                        </div>
                        
                        <div class="topspace">
                            <select name="areas[]" size="5" multiple="multiple" class="form-control" style="min-width: 30%">
                                <option value="noarea">ei aluetta</option>
                                <span th:each="area : ${area}">
                                    <option th:text="${area.name}" th:value="${area.name}"></option>
                                </span>
                            </select>
                            
                            <p>Valitut sisältöalueet</p>
                            <ul style="list-style-type:none">
                                <li></li>
                            </ul> 
                        </div>
                        
                        <div  class="topspace">
                            <button type="submit" class="btn btn-primary">Tallenna</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
