<!DOCTYPE html>
<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    <head lang="en">
       <link href="/css/layout-center.css" rel="stylesheet" type="text/css" th:href="@{static/css/layout-center.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>            
        <!-- Bootstrap (js-tiedosto) -->
        <script src="js/bootstrap.min.js" ></script>

        <title>navbar_template></title>
    </head>

    <body>
        <!-- Navbar -->
        <div class="navbar-fixed-top" th:fragment="navbar">
            <a href="index" type="button" name="Runko" class="btn btn-default">Runko etusivu</a>
            <a href="index" name="Viestit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Viestit</a>
            <a href="simpleform" name="Suosikit" class="btn btn-default">Lisää sisältöä</a>
            <a href="persons" name="Asetukset" class="btn btn-default">Käyttäjät</a>
        </div>
    </body>
</html>
