<!DOCTYPE html>

<html xlmns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">

    <head lang="en">
        <!-- bootstrap.min.css is bootstraps own css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}" />

        <!-- layout.css is Runkos css -->
        <link href="/css/layout.css" rel="stylesheet" type="text/css" th:href="@{/static/css/layout.css}" />

        <!-- jQuery file -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/static/jquery.min.js}"></script>

        <!-- Bootstrap (js-file) -->
        <script src="/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

        <title>Profiili</title>

    </head>

    <!-- centered, background, bold, topspaced, aroundspaced are in layout.css -->
    <body>
        <div id="background">
            <!-- Navigation-bar -->
            <div th:include ="fragments/navbar_template :: navbar">navbar</div>

            <!-- centered is in layout.css -->
            <div class="centered">

                <h1>Content manager</h1>

                <h2>Luomasi sisällöt</h2>
                <div th:unless="${#lists.isEmpty(contents)}">
                    <table class="table table-hover col-sm-12">
                        <tr th:each="content : ${contents}">
                            <th><a th:href="@{/content/{id}(id=${content.id})}" th:text="${content.name}" th:name="${content.name}"></a></th>
                            <!-- Shows buttons only if user who is logged in is owner -->
                            <td>
                                <form th:method="get" th:action="@{/content/edit/{id}(id=${content.id})}" >
                                    <button name="editContent" type="submit" class="btn btn-xs btn-success">Muokkaa</button>
                                </form>
                            </td>
                            <td>
                                <form th:method="delete" th:action="@{/content/{id}(id=${content.id})}">
                                    <button name="removeContent" type="submit" class="btn btn-xs btn-danger">Poista</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <div th:if="${#lists.isEmpty(contents)}">
                    <p>Et ole luonu sisältöä!</p>
                </div>
                
                <h2>Luomasi alueet</h2>
                <div th:unless="${#lists.isEmpty(areas)}">
                    <table class="table table-hover col-sm-12">
                        <tr th:each="area : ${areas}">
                            <th><a th:href="@{/area/{id}(id=${area.id})}" th:text="${area.name}" th:name="${area.name}"></a></th>
                            <!-- Shows buttons only if user who is logged in is owner -->
                            <td>
                                <form th:method="get" th:action="@{/area/edit/{id}(id=${area.id})}" >
                                    <button name="editArea" type="submit" class="btn btn-xs btn-success">Muokkaa</button>
                                </form>
                            </td>
                            <td>
                                <form th:method="delete" th:action="@{/area/{id}(id=${area.id})}">
                                    <button name="removeArea" type="submit" class="btn btn-xs btn-danger">Poista</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <div th:if="${#lists.isEmpty(areas)}">
                    <p>Et ole luonu aluetta!</p>
                </div>

                <h2>Tilatut alueesi</h2>
                <div th:unless="${#lists.isEmpty(person.subscriptions)}">
                    <table class="table table-hover col-sm-12">
                        <tr th:each="area : ${person.subscriptions}">
                            <th><a th:id="${area.name}" th:href="@{/area/{id}(id=${area.id})}" th:text="${area.name}"></a></th>
                            <td>
                                <form th:method="post" th:action="@{/area/{id}(id=${area.id})}" id="areaform">
                                    <input type="hidden" value="CM" name="whereICome" />
                                    <button type="submit" class="btn btn-xs" value="StopOrder">Lopeta tilaus</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <div th:if="${#lists.isEmpty(person.subscriptions)}">
                    <p>Et ole tilannut sisältöä!</p>
                </div>
                
                <h2>Kirjanmerkkisi</h2>
                <div th:unless="${#lists.isEmpty(person.bookmarks)}">
                    <table class="table table-hover col-sm-12">

                        <tr th:each="content : ${person.bookmarks}">
                            <th><a th:name="${content.name}" th:id="${content.name}" th:href="@{/content/{id}(id=${content.id})}" th:text="${content.name}"></a></th>
                            <td>
                                <form th:method="post" th:action="@{/content/{id}(id=${content.id})}" id="contentform">
                                    <input type="hidden" value="CM" name="whereICome" />
                                    <button type="submit" class="btn btn-default btn-xs" value="StopOrder"><span class="glyphicon glyphicon-star"></span></button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(person.bookmarks)}">
                    <p>Sinulla ei ole kirjanmerkkejä.</p>
                </div>
            </div>
        </div>
    </body>
</html>
